form {
  min-width: 300px;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
}

.leave-form-outer {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.leave-form-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-spinner {
  width: 100vw;
  align-items: center;
}
