<nav class="navbar navbar-expand-lg navbar-light bg-light fix-top">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand m-1">Holiday</a>
  </nav>
  <button *ngIf="role" #toggleButton class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto header-items" *ngIf="role && role=='student' && authenticated">
      <li class="nav-item m-1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a class="nav-link" [routerLink]="['']" (click)="autoToggle()">Create Request</a></li>
      <li class="nav-item m-1" routerLinkActive="active"><a class="nav-link" [routerLink]="['/my-requests']" (click)="autoToggle()">My Requests</a></li>
      <a class="m-1" [routerLink]="['/profile']" id="profile-icon"><img width="48px" src="assets/images/profile.png" (click)="autoToggle()"></a>
      <button class="btn btn-primary m-1" (click)="onLogout()">Logout</button>
    </ul>
    <ul class="navbar-nav mr-auto header-items" *ngIf="role && role=='warden' && authenticated">
      <li class="nav-item m-1" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a class="nav-link" [routerLink]="['']" (click)="autoToggle()">Pending Requests</a></li>
      <li class="nav-item m-1" routerLinkActive="active"><a class="nav-link" [routerLink]="['/all-requests']" (click)="autoToggle()">All requests</a></li>
      <button class="btn btn-primary m-1" (click)="onLogout()">Logout</button>
    </ul>
  </div>
</nav>
