<mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="login-form-outer" *ngIf="!isLoading">
  <h2 style="color: rgb(1, 105, 233); margin-bottom: 1rem;">Login</h2>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field class="m-1" appearance="fill">
      <mat-label>Username</mat-label>
      <input matInput ngModel name="username" #username="ngModel" required>
    </mat-form-field>
    <mat-form-field class="m-1" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput ngModel name="password" #password="ngModel" required>
    </mat-form-field>
    <button class="btn btn-outline-success">Submit</button>
  </form>
</div>
