button {
  border-radius: 2rem;
  border: none;
  padding: .5rem 1rem .5rem 1rem;
  margin: .2rem;
  margin-top: 1rem;
  margin-left: .4rem;
  color: black;
}
button:focus {
  outline: none;
}

.button-selected {
  background-color: skyblue;
}

table {
  width: 90vw;
}

table td{
  vertical-align: middle;
}

.table {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
