.profile-outer {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  min-width: 300px;
}

p {
  font-size: large;
}
